:root {
  /******************** Colors ********************/
  --bg-color: #f2f5fc;
  --text-color: #3C4043;
  --active-color: #D3E3FD;

  --green: #29BC9C;
  --dark-green: #26A88C;

  --gray: #EAEBEF;
  --active-gray: #e2e2e6;
  --dark-gray: #DEDCDC;

  --red: #DB575A;
  --dark-red: #CB5153;
}

/******************** Base styles ********************/
html {
  scroll-behavior: smooth;
}

span,
p,
label,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-color);
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--bg-color);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
  line-height: 1.5;
  font-weight: 400;
}

.bold {
  font-weight: 600;
}

.secondary-text {
  color: #88898d;
  font-size: 15px;
}

/******************** Content ********************/
.content-container {
  background-color: white;
  padding: 25px;
  margin: 80px 20px 0 270px;
  height: fit-content;
  border-radius: 12px;
}

.content {
  margin: 15px 0 20px 0;
}

@media (max-width: 768px) {
  .content-container {
    background-color: white;
    padding: 10px;
    margin: 0 10px;
  }

  .content {
    margin: 0;
  }
}

.title-wrapper {
  display: flex;
  align-items: center;
  /* margin-right: 20px; */
  margin-right: 15px;
}

.back-to-list-wrapper {
  margin: 5px;
}

.back-to-list {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.back-to-list:hover {
  background-color: var(--gray);
}

.back-to-list:active {
  background-color: var(--active-gray);
}

.back-icon {
  width: 1rem;
  height: 1rem;
  margin: auto 0;
}

.row {
  margin-bottom: 1rem;
}

.line {
  margin: 0;
  padding: 0;
  color: #c1c2c5;
}

textarea {
  height: 86px;
}

textarea,
input {
  color: var(--text-color);
}

/********** Buttons **********/

.button-container {
  display: flex;
}

.btn {
  border-radius: 40px;
  border: none;
  font-weight: 600;
  width: 100%;
  height: 2.4rem;
  width: 10rem;

  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.btn-save {
  background-color: var(--green);
  color: white;
}

.btn-save:hover,
.btn-save:focus {
  background-color: var(--dark-green);
  color: white;
}

.btn-delete {
  background-color: var(--red);
  color: white;
}

.btn-delete:hover,
.btn-delete:focus {
  background-color: var(--dark-red);
  color: white;
}


.btn-cancel {
  background-color: var(--gray);
  color: var(--text-color);
  margin-left: 5px;
}

.btn-cancel:hover,
.btn-cancel:focus {
  background-color: var(--dark-gray);
  color: var(--text-color);
}

.btn-add {
  height: 2rem;
  width: 7rem;
}

/********** list **********/
.list-header {
  padding: 0 15px 16px 15px;
  display: flex;
}

.list-header span {
  color: darkgray;
}

.list-header .control-header {
  min-width: 120px;
}

.list-header .message-control-header {
  min-width: 75px;
}

.list-title {
  display: flex;
  text-align: center;
  align-items: flex-end;
  justify-content: end;
}

.right-button-wrapper,
.view-wrapper .buttons-wrapper {
  margin-left: auto;
  margin-right: 0;
}

.parent-page-title {
  /* margin: 10px 20px 10px 15px; */
  margin: 10px 15px;
}

.list-total {
  margin-left: 10px;
}

.list-total span {
  color: darkgray;
}

.list-total span:first-child {
  margin-right: 5px;
}

.add-icon {
  margin-right: 5px;
}

.add-text {
  color: white;
}

.list-item {
  padding: 25px 15px;
  /* padding: 25px 20px 25px 15px; */

  display: flex;
  align-items: center;
}

.list-item .row,
.list-header .row {
  width: 100%;
  display: flex;
  margin-bottom: 0;
  margin-right: 0;
  align-items: center;
}

.list-item .buttons-wrapper {
  display: flex;
}

.form-container {
  padding: 0 15px;
}

@media (max-width: 768px) {
  .form-container {
    padding: 10px;
  }

  .list-header {
    display: none;
  }

  .right-button-wrapper .add-text {
    display: none;
  }

  .btn-add {
    width: 2rem;
  }

  .add-icon {
    margin: 0;
  }

  .parent-page-title {
    margin: 10px;
  }

  .title-wrapper {
    margin-right: 10px;
  }

  .list-item {
    padding: 15px 10px;
    display: block;
  }

  .list-item .col-sm-12 {
    margin: 3px 0;
  }

  .buttons-wrapper {
    padding: 10px 0 0 0;
    width: fit-content;
    margin: 0 auto;
  }

  .back-to-list-wrapper {
    margin-left: 0px;
  }

  .view-wrapper .buttons-wrapper {
    padding: 0;
  }

}

.list-item:hover {
  box-shadow: 0 0px 5px #DBDBDB;
  cursor: pointer;
}

/****** list button *****/
.list-button {
  padding: 9px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 0 4px #DBDBDB;
  text-decoration: none;
  text-align: center;
  display: inline-flex;
  margin-left: 15px;
}

.buttons-wrapper .list-button:first-child {
  margin-left: 0px;
}

.list-button:hover {
  background-color: var(--gray);
}

.list-button-icon {
  width: 12px;
  height: 12px;
}

.view-item-wrapper {
  display: grid;
  margin-bottom: 1rem;
}

.view-item-wrapper span {
  font-weight: 600;
  margin-bottom: 5px;
}

.view-profile-photo {
  width: 10rem;
}

.edit-photo-wrapper {
  display: flex;
}

.photo-buttons-wrapper {
  margin: 0 0 0 1rem;
}

.photo-buttons-wrapper .photo-btn {
  border: none;
  background-color: white;
  font-weight: 600;
  padding: 0;
}

.photo-buttons-wrapper .photo-btn.update-btn {
  color: var(--green);
  margin-right: 20px;
}

.photo-buttons-wrapper .photo-btn.update-btn:hover {
  color: var(--dark-green);
}

.photo-buttons-wrapper .photo-btn.remove-btn {
  color: var(--red);
}

.photo-buttons-wrapper .photo-btn.remove-btn:hover {
  color: var(--dark-red);
}

@media (max-width: 426px) {

  .list-button,
  .buttons-wrapper .list-button:first-child {
    margin: 0 20px;
  }

  .view-wrapper .buttons-wrapper .list-button {
    margin: 0 5px;
  }

  .edit-photo-wrapper {
    display: block;
  }

  .view-profile-photo {
    width: 100%;
  }

  .photo-buttons-wrapper {
    margin: 1rem 0 0 0;
  }
}

/*messages*/
.truncated {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 60ch;
}

.truncated-email {
  max-width: 30ch;
}

.list-item.un-read {
  background-color: var(--bg-color);
}

.message-head {
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .message-head {
    display: block;
  }

  .message-head .buttons-wrapper {
    margin: 0;
  }
}