:root {
  /******************** Colors ********************/
  --bg-color: #F2F3F8;
  --text-color: #3C4043;
  --green: #29BC9C;
  --dark-green: #26A88C;

  --gray: #EAEBEF;
  --dark-gray: #DEDCDC;

  --red: #DB575A;
  --dark-red: #CB5153;
}

/******************** Base styles ********************/
html {
  scroll-behavior: smooth;
}

span,
p,
label,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-color);
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--bg-color);
}

/******************** Header ********************/
.header {
  padding-right: 25px;
  background-color: white;
  box-shadow: 0 0px 5px #DBDBDB;
  height: 60px;
}

.header .nav-item {
  height: fit-content;
}

.top-navbar {
  float: right;
}

.profile-photo {
  width: 2rem;
  border-radius: 50px;
  padding-right: 5px;
}

.wraper {
  display: flex;
  align-items: center;
  justify-content: end;
  height: 60px;
}

.wraper-div {
  text-align: center;
  /* Optional: center the content horizontally */
}

.header .dropdown-menu {
  left: auto;
  right: 0;
  position: absolute;
}

.dropdown-menu li{
  padding: 3px 0;
}

.header .dropdown-menu .dropdown-icon {
  margin-right: 10px;
}

/******************** Sidebar ********************/
.sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  padding: 16px 20px;
  z-index: 1030;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: .5rem;
}

.sidebar-title {
  margin-bottom: 38px !important;
}

.title-inner {
  display: inline-flex;
  padding: 0 1rem;
}

.sidebar-title span {
  padding: 0 1rem;
}

.sidebar-icon {
  width: 1.1rem;
  height: 1.1rem;
  margin: auto 0;
}

.nav-item-inner {
  display: inline-flex;
  padding: .5rem 1rem;
}

.nav-item-inner span {
  padding: 0 1rem;
}

.sidebar .nav-item:hover {
  background-color: var(--gray);
  border-radius: 50px;
  width: -webkit-fill-available;
  width: -moz-available;
}

/*active-item start*/
.sidebar .active,
.sidebar .active:hover {
  background-color: #D3E3FD;
  border-radius: 50px;
  width: -webkit-fill-available;
  width: -moz-available;
}

.sidebar .active .nav-link {
  font-weight: 600;
  color: var(--text-color);
}

/*active-item end*/

.nav-link {
  color: var(--text-color);
  padding: 0;
}

.nav-link:hover {
  color: #000;
}

.nav-link:focus {
  color: var(--text-color);
}


/*Desktop and mobile*/
.desktop-navbar {
  display: block;
}

.mobile-navbar {
  display: none;
}

@media (max-width: 768px) {
  .desktop-navbar {
    display: none;
  }

  .mobile-navbar {
    display: block;
  }

  /*mobile style code goes here*/

  .mobile-navbar .navbar-top {
    background-color: white;
    box-shadow: 0 0px 5px #DBDBDB;
    height: 55px;
    display: flex;
    align-items: center;
  }

  .mobile-navbar .navbar-icon {
    margin: auto 20px;
    cursor: pointer;
    width: 1.5rem;
  }

  .mobile-navbar .navbar-content {
    height: 100vh;
    width: 70vw;
    position: absolute;
    z-index: 9;
    display: none;
    background-color: white;
    box-shadow: 0 0px 5px #999;
    padding: 3rem 2rem;
    animation-duration: 0.2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }

  .mobile-navbar .navbar-back {
    height: 100vh;
    width: 100vw;
    position: absolute;
    display: none;
    z-index: 1;
    opacity: 0.45;
    background-color: #444;
  }

  .mobile-navbar .navbar-content.show {
    display: block;
    animation-name: slideIn;
  }

  @keyframes slideIn {
    0% {
      transform: translateX(-100%);
    }

    100% {
      transform: translateX(0);
    }
  }

  .mobile-navbar .navbar-back.show {
    display: block;
  }

  .mobile-navbar .nav-item {
    margin-bottom: 1rem;
  }

  .mobile-navbar .nav-item hr {
    margin: 1rem 0 0 0;
  }

}

/******************** Content ********************/
.content {
  background-color: white;
  padding: 30px;
  margin: 81px 25px 0 275px;
  height: 89.5vh;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}

@media (max-width: 768px) {
  .content {
    margin-left: 0;
    background-color: white;
    padding: 20px;
    margin: 20px 20px 0 20px;
  }

  .back {
    margin: 0 5px !important;
  }

  .back-icon {
    width: 1.1rem !important;
    height: 1.1rem !important;
  }
}

.title-container {
  display: flex;
  align-items: center;
}

.back {
  cursor: pointer;
  margin: 0 10px;
}

.back-icon {
  width: 1.3rem;
  height: 1.3rem;
  margin: auto 0;
}

.row {
  margin-bottom: 1rem;
}

/*Buttons*/
.btn {
  border-radius: 40px;
  border: none;
  font-weight: 600;
  width: 100%;
  height: 2.4rem;
  max-width: 15rem;
  min-width: 7rem;
}

.btn-save {
  background-color: var(--green);
  color: white;
}

.btn-save:hover,
.btn-save:focus {
  background-color: var(--dark-green);
  color: white;
}


.btn-cancel {
  background-color: var(--gray);
  color: var(--text-color);
}

.btn-cancel:hover,
.btn-cancel:focus {
  background-color: var(--dark-gray);
  color: var(--text-color);
}