.login-container {
  margin: 80px auto;
  width: 32rem;
}

.login-buttons {
  display: grid;
  text-align: center;
}

.btn-login {
  background-color: var(--gray);
  color: var(--text-color);
  width: 100%;
  margin-bottom: 5px;
}

.btn-login:hover,
.btn-login:focus {
  background-color: var(--dark-gray);
  color: var(--text-color);
}

.back-home {
  text-decoration: none;
  color: var(--text-color);
}

.back-home:hover {
  color: #000
}

.login-title {
  margin: 0 auto;
}

@media (max-width: 426px) {
  .login-container {
    margin: 10px;
    width: auto;
    padding-top: 30px;
  }
}