:root {
  /******************** Colors ********************/
  --bg-color: #F6F1EB;
  --border-color: #d3c3b0;
  --text-color: #503115;

  /* Footer text, input placeholder, button bg, input border focus */
  --secondary-text-color: #9c8570;

  --titr-color: #014F57;
  --input-bg-color: #f9f6f1;
  --input-border-color: #dfd5c5;

  --button-bg-color: #d1c3b6;

  /******************** Font Sizes ********************/
  /* --greeting-sm-size: 2vw;
  --greeting-lg-size: 9vw; 
  --titr-size: 36px;
  --header-title-size: 24px;
  --text-md-size: 20px;
  --text-sm-size: 13px;*/
}


/******************** Base styles (ToDo: remove reset codes) ********************/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-color);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
  line-height: 1.5;
  font-weight: 400;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  /* font-family: 'Open Sans', sans-serif; */
}

span,
p,
label,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-color);
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

input:focus,
button:focus,
a:focus,
textarea:focus {
  outline: none;
}

button {
  border: none;
  cursor: pointer;
}

textarea {
  resize: none;
}

/******************** Header (Greeting) ********************/
.greeting {
  border: 1px solid var(--border-color);
  margin: 5vw auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12vw 0;
}

.greeting .text {
  margin: 1rem;
  display: grid;
}

header .greeting-text-sm {
  /* font-size: var(--greeting-sm-size); */
  text-transform: uppercase;
}

@font-face {
  font-family: 'Mastrih';
  src: url('assets/fonts/Mastrih.ttf') format('truetype'),
       url('assets/fonts/Mastrih.otf') format('opentype');
}

header .greeting-text-lg {
  /* font-size: var(--greeting-lg-size); */
  font-family: 'Mastrih', 'sans-serif';
}

/******************** Introduction ********************/
.introduction-titr {
  color: var(--titr-color);
  text-align: left;
  /* font-size: var(--titr-size); */
  font-weight: 700;
  margin-bottom: 2vw;
}

.profile-img{
  width: -webkit-fill-available;
  max-width: fit-content;

  /*for FireFox*/
  width: -moz-available;
  max-width: -moz-fit-content;
}


.img-wrapper{
  text-align: center;
  -webkit-box-align: center;
  align-items: center;
  justify-content: center;
}

/* Larger than tablet (tablet:768px) */
@media (min-width: 769px) {
  .img-wrapper{
    text-align: end;
    -webkit-box-align: end;
    align-items: end;
    justify-content: end;
  }
}




/* .introduction-text {
  font-size: var(--text-md-size);
} */


/******************** Sections ********************/
.section {
  width: 100%;
  margin-bottom: calc(4rem + 3vw);
}

.section-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2vw;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
}

.section-header-title {
  padding: 10px 20px;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  border-top: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  /* font-size: var(--header-title-size); */
}

/* .section-content {
  font-size: var(--text-md-size);
} */

.center-content {
  text-align: center;
  -webkit-box-align: center;
  align-items: center;
  justify-content: center;
}

/******************** Experiences ********************/

/******************** Education ********************/



/******************** Time Line (Experiences, Education) ********************/
.timeline-item {
  margin-bottom: calc(3rem + 1vw);
  padding: 0;
}

.timeline-item .timeline-item-header {
  display: grid;
  font-weight: 600;
}

/******************** Contact ********************/
.contact {
  position: relative;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
  align-items: center;
  justify-content: center;
}

.contact .contact-item {
  margin: auto 4vw;
}

.contact .contact-item .contact-item-inner {
  display: inline-grid;
}

.contact .contact-item .contact-icon {
  width: 5rem;
  height: 5rem;
}

.contact .contact-item .contact-title {
  margin-top: 5px;
  font-weight: 600;
  /* font-size: var(--text-md-size); */
}



/******************** Say Hi (Form) ********************/
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  width: 100%;
  height: 38px;
  padding: 6px 10px;
  background-color: var(--input-bg-color);
  border: 1px solid var(--border-color);
  color: var(--text-color);
  border-radius: 0;
  box-shadow: none;
  box-sizing: border-box;
  resize: none;
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

textarea {
  /* min-height: 65px; */
  min-height: 86px;
  padding-top: 6px;
  padding-bottom: 6px;
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid var(--secondary-text-color);
  outline: 0;
}



label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600;
}

fieldset {
  padding: 0;
  border-width: 0;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
}

label>.label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal;
}


::placeholder {
  color: var(--secondary-text-color);
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--secondary-text-color);
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--secondary-text-color);
}

/******************** buttons ********************/
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  width: 100%;
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: var(--bg-color);
  background-color: var(--text-color);
  text-align: center;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-decoration: none;
  white-space: nowrap;
  border-radius: 0;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
}

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: var(--bg-color);
  background-color: var(--titr-color);
  border: none;
  outline: 0;
}

/******************** Footer ********************/
.footer {
  border-top: 1px solid var(--border-color);
  text-align: center;
  padding: 1rem;
}

.footer .footer-text {
  color: var(--secondary-text-color);
}

/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  color: inherit;
}

a:hover {
  color: var(--text-color);
  font-weight: 600;
}


/******************** Navigation ********************/