/******************** Header ********************/
.header {
  padding-right: 25px;
  background-color: white;
  box-shadow: 0 0px 5px var(--shadow-color);
  height: 60px;
}

.header .nav-item {
  height: fit-content;
}

.top-navbar {
  float: right;
}

.profile-photo {
  width: 2rem;
  border-radius: 50%;
  margin-right: 5px;
}

.wraper {
  display: flex;
  align-items: center;
  justify-content: end;
  height: 60px;
}

.wraper-div {
  text-align: center;
}

.header .dropdown-menu {
  left: auto;
  right: 0;
  position: absolute;
}

.dropdown-menu li {
  padding: 3px 0;
}

.header .dropdown-menu .dropdown-icon {
  margin-right: 10px;
}

.header .dropdown-item:active {
  background-color: var(--active-gray);
  color: var(--text-color);
}

/******************** Sidebar ********************/
.sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  padding: 10px 15px;
  margin: 0;
  z-index: 1030;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 0.5rem;
}

/* toggle-sidebar */
.toggle-sidebar-wrapper {
  display: flex;
  align-items: center;
}

.toggle-sidebar {
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  cursor: pointer;
}

.toggle-sidebar:hover {
  background-color: var(--gray);
}

.toggle-sidebar:active {
  background-color: var(--active-gray);
}

.sidebar li.sidebar-title {
  margin-bottom: 30px;
}

.sidebar-title span {
  margin: 0 5px;
}

.sidebar-icon {
  width: 1rem;
  height: 1rem;
  margin: auto 0;
}

.nav-link-inner {
  display: inline-flex;
  padding: 8px 12px;
}

.nav-link-inner span {
  padding: 0 1rem;
}

.nav-link-inner .header-link {
  padding: 0 6px;
}

.sidebar .nav-item:hover,
.mobile-navbar .nav-item:hover {
  background-color: var(--gray);
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  width: -webkit-fill-available;
  width: -moz-available;
  margin-left: -2rem;
  padding-left: 2rem;
}

.sidebar .nav-item:active,
.mobile-navbar .nav-item:active {
  background-color: var(--active-gray);
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  width: -webkit-fill-available;
  width: -moz-available;
  margin-left: -2rem;
  padding-left: 2rem;
}

/* active-item start */
.profile .sidebar .nav-profile,
.profile .sidebar .nav-profile:hover,
.profile .mobile-navbar .nav-item.nav-profile,
.education .sidebar .nav-educations,
.education .sidebar .nav-educations:hover,
.education .mobile-navbar .nav-item.nav-educations,
.social .sidebar .nav-social,
.social .sidebar .nav-social:hover,
.social .mobile-navbar .nav-item.nav-social,
.messages .sidebar .nav-messages,
.messages .sidebar .nav-messages:hover,
.messages .mobile-navbar .nav-item.nav-messages,
.password .sidebar .nav-password,
.password .sidebar .nav-password:hover,
.password .mobile-navbar .nav-item.nav-password {
  background-color: var(--active-color);
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  width: -webkit-fill-available;
  width: -moz-available;
  font-weight: 600;

  margin-left: -2rem;
  padding-left: 2rem;
}

.profile .min-sidebar .sidebar .nav-profile,
.profile .min-sidebar .sidebar .nav-profile:hover,
.education .min-sidebar .sidebar .nav-educations,
.education .min-sidebar .sidebar .nav-educations:hover,
.social .min-sidebar .sidebar .nav-social,
.social .min-sidebar .sidebar .nav-social:hover,
.messages .min-sidebar .sidebar .nav-messages,
.messages .min-sidebar .sidebar .nav-messages:hover,
.password .min-sidebar .sidebar .nav-password,
.password .min-sidebar .sidebar .nav-password:hover {
  border-radius: 50%;
  margin-left: 0;
  padding-left: 0;
}

.profile .sidebar .nav-profile .nav-link,
.education .sidebar .nav-educations .nav-link,
.social .sidebar .nav-social .nav-link,
.messages .sidebar .nav-messages .nav-link,
.password .sidebar .nav-password .nav-link {
  font-weight: 600;
  color: var(--text-color);
}
/* active-item end */

.nav-link {
  color: var(--text-color);
  padding: 0;
  display: flex;
  align-items: center;
  height: 40px;
}

.nav-link:hover {
  color: black;
}

.nav-link:focus {
  color: var(--text-color);
}

.badge-wrapper {
  display: flex;
  align-items: center;
}

.messages .nav-link-inner .badge-unread {
  background-color: white;
}

.nav-link-inner .badge-unread {
  background-color: var(--active-color);
  color: var(--text-color);
  padding: 4px 7px;
}

.desktop-navbar {
  display: block;
}

.mobile-navbar {
  display: none;
}

@media (max-width: 768px) {
  .desktop-navbar {
    display: none;
  }

  .mobile-navbar {
    display: block;
    padding-bottom: 65px;
  }

  .mobile-navbar .navbar-top {
    background-color: white;
    box-shadow: 0 0px 5px var(--shadow-color);
    height: 55px;
    display: flex;
    align-items: center;
    width: 100%;
    position: fixed;
    padding: 0;
    margin: 0;
    z-index: 9;
  }

  .mobile-navbar .navbar-icon {
    margin: auto 29px;
    cursor: pointer;
    width: 1.3rem;
  }

  .mobile-navbar .navbar-content {
    height: 100vh;
    width: 70vw;
    position: fixed;
    z-index: 999;
    display: none;
    background-color: white;
    box-shadow: 0 0px 5px var(--darker-gray);
    padding: 2.5rem 1.8rem;
    animation-duration: 0.2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    overflow-y: scroll;
  }

  .mobile-navbar .navbar-background {
    height: 100vh;
    width: 100vw;
    position: fixed;
    display: none;
    z-index: 99;
    opacity: 0.4;
    background-color: var(--darker-gray);
  }

  .mobile-navbar .navbar-content.display {
    display: block;
    animation-name: slideIn;
  }

  @keyframes slideIn {
    0% {
      transform: translateX(-100%);
    }

    100% {
      transform: translateX(0);
    }
  }

  .mobile-navbar .navbar-background.display {
    display: block;
  }

  .mobile-navbar .nav-item {
    margin-bottom: 10px;
  }

  .mobile-navbar .line {
    margin: 0 0 8px 0;
  }

  .mobile-navbar .profile-container {
    display: block;
    padding: 0 1rem;
  }

  .mobile-navbar .profile-container span {
    padding: 5px;
  }
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
}

/******************** min-sidebar ********************/
.min-sidebar .content-container {
  margin-left: 90px;
}

.min-sidebar .sidebar {
  width: 70px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.min-sidebar .sidebar span {
  display: none;
}

.min-sidebar .sidebar li {
  justify-content: center;
  width: 40px;
}

.min-sidebar .sidebar .nav-item:hover {
  border-radius: 50%;
  margin-left: 0;
  padding-left: 0;
}

.min-sidebar .sidebar .nav-item:active {
  border-radius: 50%;
  margin-left: 0;
  padding-left: 0;
}
